<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mvc.mapper.MemoMapper">

<!--    전체 메모 조회 -->
    <select id="findAll" resultType="com.test.mvc.entity.Memo">
        SELECT * FROM tbl_Memo
        
    </select>
    <insert id="save">
        INSERT INTO tbl_memo
        (memoText)
        VALUE
        (#{memoText})
    </insert>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM tbl_Memo
    </select>
    <delete id="delete">
        DELETE FROM tbl_Memo
        WHERE memonum = #{memoNum}
    </delete>

    <update id="modify">
        UPDATE tbl_memo
        SET memoText = #{newText}
        WHERE memonum = #{mno}
    </update>
</mapper>
